
*{
    overflow-x: hidden;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: #f8F9FA;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  
}
#carrousel{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
#container{
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#nav{
    width: 90%;
     display: flex;
     justify-content: space-between;
     
     position: absolute;
     z-index: 5;	
     margin-left: 70px;
    top: 3em;
    height: 500px;
 }
nav{
    width: 500px;
    
    display: flex;
    justify-content: space-between;
overflow: visible;
  
 }
 nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
 }
 #home-btn{
     color: #ff7404;
 }
 #avo {
     font-family: 'Righteous', cursive;
     font-size: 35px;  
 }
 #services {
    cursor: pointer;
 overflow: visible;
 }

#bulle {
    opacity: 0;
   overflow: visible;
    transition: 0.5s ease-in;
    background-color: rgba(245, 245, 245, 0.572);
    
    display: flex;
   position: absolute;
   top: 10%;
   z-index: 15;
    border-radius: 5px;
    width: 12em;
    /* height: 6em; */
    /* clip-path: polygon(10% 0, 20% 10%, 100% 10%, 100% 100%, 0 100%, 0 10%); */
}
#triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgba(245, 245, 245, 0.572);
    width: 1.5em;
    height: 1em;
    position: absolute;
    top: -14%;
    left: 8%;
    z-index: 15;
}
ul {
    width: 100%;
    padding: 0;
    text-align: center;
    font-weight: 500;
}
li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 100%;
    padding-left: 0;
    cursor: pointer;
}
li:hover{
    background-color: #ff7404;
}
#hero-text{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    position: absolute;

    top: 50%;
    right: 50%;
    transform: translate3d(50%, -50%, 0);
    
}
h1{
    font-family: 'Righteous', cursive; 
    font-size: 100px;
    
}
#startBtn {
    text-decoration: none;
   background: none;
    color: white;
    border: 2px solid white;
    font-size: 1rem;
    padding: 10px;
    text-transform: uppercase;
    opacity: 0;
    position: absolute;
    left:82%;
    bottom: 0%;
    transition: 0.5s ease-in;
}
.photo {
    width: 100vw;
    height: 100vh;  
    margin: 0;
    display: inline-block;
    background-size: cover;
    opacity: 0.7;
}
#left{
    position:absolute;
    font-size: 4em;
    text-shadow: -1px 2px 5px rgba(0,0,0,0.7);
    top: 50%;
    left: 1%;
    cursor: pointer;
    transition: 300ms;
    opacity: 0.8;

}
#left:hover{
    transform: scale(1.1);
    opacity: 1;
}

#right{
    position:absolute;
    font-size: 4em;
    text-shadow: -1px 2px 5px rgba(0,0,0,0.7);
    top: 50%;
    
    right: 1%;
    cursor: pointer;
    transition: 300ms;
    opacity: 0.8;
}
#right:hover{
    transform: scale(1.1);
    opacity: 1;
}
p{
    color: gray;
    line-height: 1.5em;
}
section {
    display: flex;
    justify-content: center;
	align-items: center;
}
#cafe-container {
    margin-top: 150px;
    width: 60%;
    display: flex;
    justify-content: space-between;
	align-items: flex-start;
}

#cafPic {
    width: 500px;
    margin-right: 15px;
    transition: 1s ease-in;
    transform: translateX(-500px);
    opacity: 0;
}
#caf-container-left {
    display: flex;
	flex-direction: column;
    width: 50%;
	justify-content: flex-start;
    margin-left: 1em;;
}

#caf-container-right{
    margin-right: 1em;
}
#caf-title{
    font-weight: bold;
    font-size: 45px;
    position: relative;
    padding-top: 20px;
}
#caf-title::before{
    width: 80px;
    height: 2px;
    background: #ff7404;
    content: "";
    position: absolute;
    top: 0;
  
}

h2{
    font-weight: bold;
    font-size: 45px;
    position: relative;
    padding-top: 20px;
}


h2::before {
    width: 80px;
    height: 2px;
    background: #ff7404;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
} 


#sign {
    width: 150px;
}

/* Plants */
#plants{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    height: 100vh;
    margin-bottom: 150px;
    
}

#plants-photos-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow-y: hidden;
   
}
.plant-box{
    
    width: 300px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#plant1{
    background-image: url(./images/plante1.jpg);
    transition: 1s ease-in;
    transform: translateX(-500px);
    opacity: 0;
}
#plant2{
    background-image: url(./images/plante2.jpg);
    transform: translateY(-500px);
    transition: 1s ease-in;
    opacity: 0;
}
#plant3{
    background-image: url(./images/plante3.jpg);
    transform: translateX(500px);
    transition: 1s ease-in;
    opacity: 0;
}
h3 {
    font-family: 'Righteous', cursive; 
}

/* Menu */

#menu {
    flex-direction: column;
}
#menu-title{
    line-height: 130px;
}
#menu-section {
    width: 100vw;
	margin: 0 auto;
    height: 600px;
    position: relative;
}

.wrapper {
    width: 200%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

}
.dishes {
    width: 100%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}
.dish{
    background-color: rgba(0, 0, 0, 0.197);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1em;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    font-size: 20px;  

}
.item {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
	user-select: none;
    border-radius: 5%;
	color: white;
	width: 300PX;
	height: 550px;
    
	font-size: 33px;
	font-weight: bold;

}


#avocado{
    
    background-size: cover;
    background-image: url(./images/smashed-avocado-on-toast-4488463_1920.jpg);
    background-position: center;
}

#bene{
    background-image: url(./images/pexels-roman-odintsov-4869424.jpg);
    background-size: cover;
    background-position: center;
}
#waffle{
    background-image: url(./images/pexels-julia-avamotive-2065702.jpg);
    background-size: cover;
    background-position: center;
}
#toast{
    background-image: url(./images/pexels-daniela-constantini-5591730.jpg);
    background-size: cover;
    background-position: center;

}
#club{
    background-image: url(./images/pexels-brigitte-tohm-350343.jpg);
    background-size: cover;
    background-position: center;
}

/* Testimonials */
#testimonials{
    flex-direction: column;
    height: 100vh;
}
#carrousel-2{
    margin: 0 auto;
    width: 40vw;
    height: 40vh;
}
#testim-container{
    height: 100%;
    position: relative;
    width: 160vw;
    display: flex;
    transition: all 1s ease-out;
}
.testim{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 40vw;
    height: 30vh;
    transition: all 0.5s ease-out;
}

#testim2{
    opacity: 0%;
}
#testim3{
    opacity: 0%;
}

.testim-text {
    color: black;
    font-size: 1.3em;
}
.testim-user{
    display: flex;
    align-items: center;
   height: 3em;
   margin-top: 1em;
}
.testim-photo{
    width: 3em;
    height: 3em;
    background-size: cover;
    border-radius: 20px;
}
#testim1 .testim-photo{
    background-image: url(./images/mark.jpeg);
}
#testim2 .testim-photo{
    background-image: url(./images/oscar.jpeg);
}
#testim3 .testim-photo{
    background-image: url(./images/jane.jpeg);
}

.testim-infos{
    margin-left: 1em;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
    height: 100%;
    font-size: smaller;
}
.testim-name{
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.testim-job{
    margin: 0;
    padding: 0;
}
#dots-container{
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
	align-items: center;
    width: 2.5%;
    
}
.dots{
    width: 0.5em;
    height: 0.5em;
    background-color: grey;
    transition: 1s;
    cursor: pointer;
}
#dot1{
    background-color: orange;
}
#booking{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form{
    display: flex;
    margin-top: 3em;
}
.form-contact{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
}
.text-input{
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.413);
}


/* Contacts */
#contact-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: smaller;
}

.contact-item{
    width: 28%;
}
.icons{
width: 3em;
color: #ff7404 ;
display: inline-block;
margin-top: 3em;
}
.info-black{
    color: black;
}
#links{
    display: flex;
    flex-direction: column;
   
}
#links a {
    margin-bottom: 1.5em;
    text-decoration: none;
    color: #ff7404;
}

footer{
    text-align: center;
   margin-top: 6em;
    margin-bottom: 2em;
}
footer span{
    color: #ff7404;
}




